<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registre-se no Inter</title>
  
  <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="/css/pagina-de-registro.css">
</head>

<body>
  <main class="container">
    <h1>Registre-se no Inter Project</h1>
    <div id="meu-modal" class="modal">
      <div class="modal-conteudo">
        <span class="fechar-modal" onclick="fecharModal()">&times;</span>
        <p>Erro: Usuário já existente!</p>
      </div>
    </div>
    <div class="form-container">
      <form>
        <h2 class="mensagem-de-erro">Campo(s) inválido(s)!</h2>
        <h2 class="mensagem-de-sucesso">Confirmando informações...</h2>
        <div class="input-container">
          <input type="text" class="input" id="nome" placeholder="Nome">
        </div>
        <div class="input-container">
          <input type="text" class="input" id="usuario" placeholder="Usuário">
        </div>
        <div class="input-container">
          <input type="text" class="input" id="email" placeholder="E-mail">
        </div>
        <div class="input-container">
          <input type="password" class="input" id="senha" placeholder="Senha">
        </div>
        <div class="input-container">
        <input type="password" class="input" id="confirmacaoSenha" placeholder="Confirme sua senha">
        </div>
        <button class="register-button">Registrar-se</button>
      </form>
      <div class="links-container">
        <a href="/">Voltar para tela inicial</a> • 
        <a href="/login">Já possui uma conta?</a>
      </div>
    </div>
  </main>
</body>
<script src="/js/pagina-de-registro.js"></script>
</html>