<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Faça o Registro</title>
  
  <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="/css/pagina-de-registro.css">
</head>

<body>
  <main class="container">
    <h1>Registre-se no Inter Project</h1>
    <div class="container">
      <form>
        <div class="inputs">
            <label class="nome" for="nome">Nome</label><br>
            <input type="text" id="nome">
        </div>
        <div class="inputs">
          <label class="usuario" for="usuario">Usuário</label><br>
          <input type="text" id="usuario">
        </div>
        <div class="inputs">
          <label class="email" for="email">E-mail</label><br>
          <input type="text" id="email">
        </div>
        <div class="inputs">
          <label class="senha" for="senha">Senha</label><br>
          <input type="password" id="senha">
        </div>
        <div class="inputs">
        <label class="confirmacaoSenha" for="confirmacaoSenha">Confirme a senha</label><br>
        <input type="password" id="confirmacaoSenha">
        </div>
        <br>
        <button class="register-button">Registrar-se</button>
      </form>
      <div class="links container">
        <a href="/">Voltar para tela inicial</a>
        <span class="ponto"></span>
        <a href="/login">Já possui uma conta?</a>
      </div>
    </div>
  </main>
</body>
<script src="/js/pagina-de-registro.js"></script>
</html>