<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Faça o Login</title>
  <link rel="stylesheet" href="/css/pagina-de-login.css">
</head>

<body>
  <main class="container">
    <h1>Entrar no Inter Project</h1>
    <div class="container">
      <form>
        <div class="inputs">
          <label class="email" for="email">Email</label><br>
          <input type="text" id="email">
        </div>
        <div class="inputs">
          <label class="senha" for="senha">Senha</label><br>
          <input type="password" id="senha">
        </div>
        <br>
        <button class="login-button" type="submit">Entrar</button>
      </form>
      <div class="links container">
        <a href="/">Voltar para tela inicial</a>
        <span class="ponto"></span>
        <a href="/cadastro">Não possui uma conta?</a>
      </div>
    </div>
  </main>
</body>
<script src="/js/pagina-de-login.js"></script>
</html>