<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Faça o Login</title>
  
  <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
  
  <link rel="stylesheet" href="/css/pagina-de-login.css">
</head>

<body>
  <main class="container">
    <h1>Entre no Inter Project</h1>
    <h2 class="mensagem-de-erro">E-mail e/ou senha incorreto(s)!</h2>
    <h2 class="mensagem-de-sucesso">Confirmando credenciais...</h2>
    <div class="form-container">
      <form>
        <div class="input-container">
          <input type="text" class="input" id="email" placeholder="Email">
        </div>
        <div class="input-container">
          <input type="password" class="input" id="senha" placeholder="Senha">
        </div>
        <button class="login-button" type="submit">Entrar</button>
      </form>
      <div class="links-container">
        <a href="/">Voltar para tela inicial</a> • 
        <a href="/cadastro">Não possui uma conta?</a>
      </div>
    </div>
  </main>
</body>
<script src="/js/pagina-de-login.js"></script>
</html>