<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/perfil.css">

    <title>Inter Project | Perfil</title>
</head>
<body>

  <!-- Indicador de carregamento -->
  <div class="barra-progresso-container">
    <div class="barra-progresso" id="progresso"></div>
  </div>

  <!-- Barra de navegação/Cabeçalho -->
  <header>
    <div class="logo">
        <a href="/">
            <h1>inter-project</h1>
        </a>
    </div>

    <div class="barra-de-pesquisa">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input class="barra-de-pesquisa-input" name="barra-de-pesquisa" id="barra-de-pesquisa" type="text" placeholder="Pesquisar">
    </div>

    <nav class="barra-de-navegacao">
        <a href="/" class="opcao-menu">
            <i class="fa-solid fa-house"></i>
        </a>

        <a href="/perfil" class="opcao-menu opcao-explorar">
            <i class="fa-solid fa-compass"></i>
        </a>

        <a class="opcao-menu" onclick="abrirModalPost();">
            <i class="fa-solid fa-square-plus"></i>
        </a>

        <a href="/perfil" class="opcao-menu opcao-notificacoes">
            <i class="fa-solid fa-envelope"></i>
        </a>

        <div class="foto-perfil dropdown">
            <a class="opcao-menu">
                <img src="/img/foto-exemplo-perfil.jpg" alt="Foto de perfil do usuário" id="perfil-img" class="foto-usuario-logado">
            </a>
            <div class="conteudo-dropdown">
                <a href="/perfil">Perfil</a>
                <a onclick="sairDaConta();">Sair</a>
            </div>
        </div>

    </nav>
  </header>

  <!-- Seção principal -->
  <main class="container-principal">

    <!-- Container do Cabecalho do Perfil -->
    <div class="container-cabecalho-perfil">
      <div class="container-foto-perfil">
        <img src="/img/foto-exemplo-perfil.jpg" class="foto-perfil foto-perfil-dinamica" alt="Foto de perfil do usuário">
      </div>

      <div class="container-info-usuario">
        <div class="textos-cabecalho">
          <h2 class="nome-usuario">Carregando...</h2>
          <h3 class="usuario-do-usuario">Carregando...</h3>
        </div>
        <div class="info-extra-usuario">
          <p class="texto-info info-publicacoes"><span class="info-num">0</span> Publicações</p>
          <p class="texto-info info-seguidores"><span class="info-num">0</span> Seguidores</p>
          <p class="texto-info info-seguindo"><span class="info-num">0</span> Seguindo</p>
        </div>
        <p class="bio-usuario">Carregando...</p>
      </div>

      <div class="container-botao-editar">
        <button class="botao-editar-perfil" onclick="abrirModalEditarPerfil();">Editar Perfil</button>
        <button class="botao-seguir-usuario" onclick="seguirUsuario();">Seguir</button>
        <button class="botao-padrao">Carregando...</button>
        <h4 class="tipo-usuario">Carregando...</h4>
      </div>
    </div>

    <hr class="divisor">

    <div class="container-publicacoes"></div>
  </main>
  
    <!-- Modal para a criação do post -->
    <div class="container-modal-para-postar">
      <div class="sub-container-modal">
          <span onclick="fecharModalPost();" class="fechar-modal" id="botaoFecharModal">&times;</span>
          <div class="container-cabecalho-modal">
              <h4>Crie um Novo Post</h4>
          </div>
          <div class="conteudo-modal">
              <div class="container-criacao-atualizacao">
                  <div class="info-usuario-a-postar">
                      <div class="container-info-user">
                          <img src="/img/foto-exemplo-perfil.jpg" alt="Foto de Perfil" class="profile-img foto-perfil-dinamica">
                          <h5 id="nome-do-usuario-a-postar">Nome do Usuário</h5>
                      </div>
                      <div class="container-restante">
                          <p class="caracteres-restantes">Restantes: <span class="texto-verde">300</span></p>
                      </div>
                  </div>
                  <textarea maxlength="300" id="conteudo-da-atualizacao-a-postar" placeholder="Digite sua atualização..."></textarea>
                  <div class="extras-do-novo-post">
                      <div class="visibilidade">
                          <p><i class="fa-regular fa-eye"></i> Essa publicação será visível para todos utilizando o <span class="nome-do-projeto">inter-project</span>.</p>
                          <button onclick="postar()" id="botao-postar-atualizacao">Postar</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

        <!-- Modal para edição do perfil -->
        <div class="container-modal-para-editar-perfil">
          <div class="sub-container-modal-editar-perfil">
              <span onclick="fecharModalEditarPerfil();" class="fechar-modal" id="botaoFecharModalEditarPerfil">&times;</span>
              <div class="container-cabecalho-modal">
                  <h4>Editar Perfil</h4>
              </div>
    
              <div class="conteudo-modal-editar-perfil">
                  <div class="container-criacao-atualizacao">
                      <div class="container-img">
                        <label for="input-imagem" style="cursor: pointer;">
                          <img src="https://d4fa88007301615e0fa3206955ea3e14.cdn.bubble.io/f1637861083442x625866468720319700/State%3DDefault%2C%20Size%3DSmall.svg" alt="Ícone Trocar a Foto de Perfil" class="editar-perfil-img">
                        </label>
                        <input type="file" id="input-imagem" accept="image/*" style="display: none">
                      </div>

                      <div class="inputs-container">
                        <div class="input-container">
                          <label for="nome">Nome <span class="obrigatorio">*</span></label>
                          <input type="text" id="nome" name="nome" required>
                        </div>
                        <div class="input-container">
                          <label for="usuario">Usuário <span class="obrigatorio">*</span></label>
                          <input type="text" id="usuario" name="usuario" required>
                        </div>
                        <div class="input-container">
                          <label for="bio">Biografia</label>
                          <input type="text" id="bio" name="bio">
                        </div>
                      </div>


                      <div class="container-botao">
                        <button onclick="salvarPerfil()" id="botao-salvar-perfil">Salvar</button>
                      </div>
                  </div>
              </div>
          </div>
        </div>

</body>
<script src="../js/perfil.js"></script>
</html>
