/* Reset inicial */
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --azul-clarinho: #BE3144;
    --quase-branco: #e6ecf0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #22092C;
    color: #fff;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1500px;
}

/* Barra de navegação lateral */
.barra-navegacao {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    margin: .5rem 1.8rem;
    width: 220px;
}

.opcoes-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .7rem;
    margin-right: 2rem;
    padding: 1rem 1.4rem;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 60px;
    border-radius: 35px;
}

.opcoes-menu:hover {
    background-color: #4242425d;
    cursor: pointer;
}

.opcoes-menu i {
    padding: 3px;
    text-align: center;
    font-size: 1.3rem;
    width: 2rem;
    height: 2rem;
    margin-top: 5px;
}

.opcoes-menu h2 {
    padding: 3px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}

.cadastro-e-login {
    width: 220px;
}

.botao-login, .botao-sair, .reserva {
    width: 100%;
    height: 50px;
    background-color: var(--azul-clarinho);
    border: none;
    padding: 3px;
    text-align: center;
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
    border-radius: 35px;
    cursor: pointer;
    margin-top: 1.5rem;
}

.botao-sair, .reserva {
    display: none;
}

.botao-login:hover, .botao-sair:hover, .reserva:hover{
    background-color: #872341;
}

.cadastro-e-login a.cadastre-se {
    text-decoration: none;
    color: var(--azul-clarinho);
    font-weight: bold;
}

.cadastro-e-login a.cadastre-se:hover {
    text-decoration: underline;
}

.cadastro-e-login p {
    margin-top: 1rem;
    text-align: center;
}

/* Seção principal */
.cabecalho {
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ffffff42;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    backdrop-filter: blur(3px);
}

.cabecalho h2 {
    font-weight: bold;
    font-size: 2rem;
}

.barra-de-pesquisa {
    width: 200px;
    display: flex;
    align-items: center;
    background-color: #3b3b3b73;
    padding: 10px;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 20px;
}

.barra-de-pesquisa input {
    border: none;
    color: white;
    background: none;
    outline: none;
    padding: 5px;
}

.barra-de-pesquisa i {
    padding: 0 10px 0 10px;
}

main {
    display: flex;
    flex-direction: column;
    width: 550px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-right: 1px solid #ffffff42;
    border-left: 1px solid #ffffff42;
    overflow-x: hidden;
    height: 100%;
}

main::-webkit-scrollbar {
    display: none;
}

.caixa-postagem-input img, .post-profile-image img {
    border-radius: 50%;
    height: 45px;
    background-color: #fff;
}

.caixa-postagem {
    border-bottom: 1px solid #ffffff42;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    min-width: 100%;
}

.caixa-postagem form {
    width: 100%;
}

.caixa-postagem-input {
    display: flex;
    padding: 1.3rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.caixa-postagem-input textarea {
    background: none;
    color: #fff;
    font-size: 15px;
    border: none;
    outline: none;
    border: 1px solid #ffffff36;
    padding: 1rem 1.7rem;
    border-radius: 40px;
    width: 320px;
    resize: none;
}

.caixa-postagem-input textarea::-webkit-scrollbar {
    display: none;
}

.caixa-postagem-input button {
    background-color: var(--azul-clarinho);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    width: 90px;
    height: 50px;
    cursor: pointer;
    font-size: .95rem;
}

.caixa-postagem-input button:hover {
    background-color: #872341;
}

.atualizacoes {
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ffffff42;
    padding-bottom: 10px;
}

.post-body img {
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
}

.post-footer {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.post-footer i {
    cursor: pointer;
}

.post-badge {
    font-size: 14px !important;
    color: var(--azul-clarinho);
    margin-right: 5px;
}

.header-icon-section {
    font-weight: 600;
    font-size: 12px;
    color: grey;
}

.header-icon-section:hover {
    text-decoration: underline;
    cursor: pointer;
}

.post-header-text h3 {
    font-size: 13px;
    margin-bottom: 5px;
}

.post-header-discription {
    margin-bottom: 10px;
    font-size: 15px;
    max-width: 500px;
}

.post-header-discription p {
    max-width: 500px;
    word-break: break-all;
    padding-right: 40px;
}

.post-body {
    flex: 1;
    padding: 10px;
}

.post-profile-image {
    padding: 20px;
}

/* Seção lateral */
aside {
    flex: 0.3;
}

.icone-busca-aside {
    color: gray;
}

.container-aside {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #30303049;
    border-radius: 20px;
    width: 100%;
    max-width: 100%;
}

.container-aside h2 {
    font-size: 18px;
    font-weight: 800;
}

/* Telas menores */
@media (max-width: 1100px) {

    .barra-navegacao {
        width: 60px;
    }

    .opcoes-menu {
        padding: .9rem;
        margin: 0;
    }

    .opcoes-menu h2{
        display: none;
    }

    .botao-sair, .botao-login, .reserva {
        font-size: 0;
        width: 55px;
    }

    .botao-sair i, .botao-login i, .reserva i {
        font-size: 1.4rem;
        padding: 0;
        margin: 0;
    }

    .cadastro-e-login p {
        display: none;
    }

    aside {
        display: none;
    }


}

@media (max-width: 675px) {

    body {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    main {
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
    }

    .barra-navegacao {
        margin: 0;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid #ffffff42;
        padding: 5px;
    }

    .opcoes-menu {
        width: 3.7rem;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .cadastro-e-login {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.7rem;
    }

    .cadastro-e-login button, .botao-sair {
        margin: 0;
    }

    .cabecalho {
        justify-content: space-around;
    }

    .caixa-postagem-input {
        display: flex;
        justify-content: space-between;
    }

    .caixa-postagem-input button {
        margin-right: 1rem;
    }
}

@media (max-width: 550px) {

    main {
        width: 100%;
    }

    .barra-navegacao {
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .cabecalho, .container-comunidade, .botao-postar {
        display: none;
    }

    .caixa-postagem-input {
        justify-content: space-around;
    }

    .caixa-postagem-input img {
        display: none;
    }

    .caixa-postagem-input textarea {
        width: 100%;
    }

    .reserva {
        padding: 0;
        display: block;
        margin: 0;
    }

}