/* Importações */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

/* Variáveis de cor */
:root {
    --azul: #718BED;
    --branco: #FAFAFA;
    --preto: #000;
    --cinza: #3a3c3f;
    --cinza-de-fundo: #5C6571;
    --azul-de-fundo: #8c9ddd;
}

/* Reset inicial */
html {
    font-family: 'Sora', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--cinza);
}

body {
    background-color: var(--cinza-de-fundo);
}


.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--branco);
  width: 450px;
  height: 480px;
  margin: auto;
  border-radius: 18px;
  padding: 1rem;
}

.textos-cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textos-cabecalho a {
  font-size: 1.1rem;
  color: var(--azul);
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none;
}

.textos-cabecalho a:hover {
  text-decoration: underline;
}

.textos-cabecalho h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

.textos-cabecalho h1 {
  font-weight: 400;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: .7rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container .input {
  border: 1px solid rgba(128, 128, 128, 0.336);
  outline: none;
  height: 30px;
  padding: 1rem;
  font-size: 1rem;
  background-color: rgba(230, 230, 230, 0.514);
  width: 350px;
  margin-top: .2rem;
}

.obrigatorio {
  color: red;
}

.extras-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.extras-container button {
  background-color: var(--azul);
  outline: none;
  border: none;
  color: var(--branco);
  font-weight: 500;
  width: 130px;
  height: 40px;
  margin-top: 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all .3s;
}

.extras-container button:hover {
  background-color: #556dc4;
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-conteudo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  padding: 20px;
  border-radius: 5px;
}

.modal-conteudo p {
  font-weight: bold;
  margin-right: 10px;
}

.fechar-modal {
  position: absolute;
  top: -10px;
  right: 5px;
  cursor: pointer;
  font-size: 30px;
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--branco);
  border-radius: 18px;
  padding: 1rem;
  width: 450px;
  height: 80px;
  margin: auto;
}

.links-container a {
  margin-left: .4rem;
  text-decoration: none;
  color: var(--azul);
  font-weight: 600;
}

.links-container a:hover {
  text-decoration: underline;
}

.mensagem-de-erro, .mensagem-de-sucesso{
  font-size: 1rem;
  display: none;
}

.mensagem-de-erro {
  color: rgb(226, 96, 96);
}

.mensagem-de-sucesso {
  color: var(--azul-de-fundo);
}


/* Responsivo telas menores */
@media (max-width: 500px) {
  .container {
    padding: 0;
  }

  .form-container, .links-container{
    width: 100%;
    border-radius: 0;
  }

  .form-container {
    height: 80vh;
  }

  .links-container {
    border-top: 5px solid var(--cinza-de-fundo);
    height: 20vh;
  }

  .inputs-container {
    width: 100%;
  }

  .input-container .input {
    width: 100%;
  }
}