/* Reset inicial */
html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --azul-clarinho: #1D9BF0;
  --quase-branco: #e6ecf0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1500px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container h1 {
  font-size: 3rem;
  margin-bottom: 5px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  max-width: 700px;
}

.input {
  margin: 10px;
  width: 100%;
  height: 50px;
  outline: none;
  border: 1px solid #b8b8b888;
  font-size: 1.4rem;
  background: none;
  color: white;
  border-radius: 35px;
  padding: 1.7rem;
}

.login-button {
  width: 100%;
  height: 50px;
  background-color: var(--azul-clarinho);
  border: none;
  padding: 3px;
  text-align: center;
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
  border-radius: 35px;
  cursor: pointer;
  margin-top: .8rem;
}

.login-button:hover {
  background-color: #1A8CD8;
}

.links-container {
  margin-top: 1.1rem;
}

.links-container a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--azul-clarinho);
}

.links-container a:hover {
  text-decoration: underline;
  color: #1A8CD8;
}

/* Adições/remoções dinâmicas */
.erro-ao-registrar {
  border: 1px solid rgb(255, 53, 53);
}

.mensagem-de-erro {
  display: none;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-align: left;
  color: rgb(255, 53, 53);
}

.mensagem-de-sucesso {
  display: none;
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgb(119, 197, 119);
}

/* Responsivo */
@media (max-width: 700px) {

  .container h1 {
    font-size: 0;
    color: white;
  }

  .input-container input {
    height: 30px;
  }

  .container h1::after {
    content: "Faça o Login!";
    font-size: 2.5rem;
  }
}