/* Importações */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

/* Variáveis de cor */
:root {
    --azul: #718BED;
    --branco: #FAFAFA;
    --preto: #000;
    --cinza: #3a3c3f;
    --cinza-de-fundo: rgba(197, 202, 228, 0.247);
    --azul-de-fundo: #8c9ddd;
}

/* Reset inicial */
html {
    font-family: 'Sora', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--cinza);
}

body {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    min-height: 61px;
    max-height: 61px;
    background-color: var(--branco);
    position: sticky;
    z-index: 10;
    top: 0;
    box-shadow: rgba(112, 112, 112, 0.3) 0px 1px 2px 0px;
    margin-bottom: 3rem;
}

/* Logo */
div.logo a {
    text-decoration: none;
}

div.logo a h1 {
    font-size: 1.8rem;
    color: var(--azul);
}

/* Barra de pesquisa */
.barra-de-pesquisa {
    width: 400px;
    display: flex;
    position: relative;
    align-items: center;
}

.barra-de-pesquisa .barra-de-pesquisa-input {
    position: absolute;
    background-color: var(--branco);
    outline: none;
    border: none;
    width: 100%;
    font-size: 1rem;
    padding: .65rem 1.5rem .65rem 3rem;
    border-radius: 100px;
    transition: all .2s;
}

.barra-de-pesquisa-input:focus {
    background-color: var(--cinza-de-fundo);
}

.barra-de-pesquisa i {
    font-size: 1.2rem;
    position: absolute;
    left: 15px;
    top: -9px;
    z-index: 1;
}

/* Menu */
.barra-de-navegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.barra-de-navegacao .opcao-menu {
    padding: .4rem;
    border-radius: 50%;
}

.barra-de-navegacao .opcao-menu i{
    font-size: 1.5rem;
    transition: all .3s;
    cursor: pointer;
}

.barra-de-navegacao .opcao-menu img {
    width: 48px;
    cursor: pointer;
    border-radius: 50%;
}

/* Dropdown */
.dropbtn {
    display: inline-block;
    color: var(--branco);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
  
.dropdown {
    display: inline-block;
}
  
.conteudo-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    top: 64px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
  
.conteudo-dropdown a {
    padding: 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
}
  
.conteudo-dropdown a:hover {
    background-color: #f1f1f1;
}
  
.dropdown:hover .conteudo-dropdown {
    display: block;
}

.opcao-menu i:hover {
    transform: scale(1.2);
    color: #5E74C6;
}

/* Cabecalho do Perfil */
.container-cabecalho-perfil {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 950px;
    min-width: 850px;
    margin: auto;
    padding: 1rem;
}

.container-foto-perfil img {
    width: 159px;
}

.foto-perfil {
    border-radius: 50%;
}

.container-info-usuario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.info-extra-usuario {
    display: flex;
    justify-content: space-around;
    gap: 1.7rem;
}

.info-num {
    font-weight: 500;
    font-size: 1.05rem;
}

.texto-info {
    font-weight: 300;
}

.bio-usuario {
    font-weight: 400;
    font-size: 1.1rem;
    max-width: 400px;
    margin-top: 0.2rem;
}

.botao-editar-perfil, .botao-seguir-usuario, .botao-padrao {
    display: none;
    text-align: center;
    border: 1px solid black;
    outline: none;
    font-size: 1rem;
    padding: .5rem 1rem;
    background-color: var(--branco);
    border-radius: 7px;
    cursor: pointer;
    transition: all .1s;
}

.botao-editar-perfil:hover, .botao-seguir-usuario:hover, .botao-padrao:hover {
    background-color: rgba(238, 238, 238, 0.89);
}

.botao-padrao {
    display: block;
}

.divisor {
    width: 850px;
    margin: 2rem auto;
    border-color: rgba(199, 199, 199, 0.219);
}

/* Postagens do usuário em específico */
.container-atualizacoes {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.container-da-atualizacao {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(6, 19, 36, 0.2) 0px 1px 4px 0px;
    border-radius: 10px;
}

.cabecalho-da-atualizacao {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 1rem 1rem 0 1rem;
}

.textos-cabecalho {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.textos-cabecalho p {
    font-size: .8rem;
    color: rgba(128, 128, 128, 0.781);
}

/* Conteúdo das atualizações */
.conteudo-atualizacao {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(88, 88, 88, 0.068);
}

.conteudo-atualizacao p {
    padding: 1rem;
}

.conteudo-atualizacao img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    max-width: 550px;
}

/* Extras (curtidas, comentarios e visualizações) */
.container-extras {
    display: flex;
    flex-direction: column;
}

.info-acoes-extras {
    display: flex;
    gap: 2rem;
    padding: .8rem 1rem;
    font-size: .85rem;
}

/* Comentários */
.container-comentarios {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    margin-bottom: 1rem;
}

.container-comentarios .comentario {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.container-comentarios .comentario h3 {
    font-size: .85rem;
    font-weight: 800;
    width: 20%;
}

.container-comentarios .comentario p {
    font-weight: 400;
    font-size: .85rem;
}

.comentario-curtido {
    color: rgb(255, 74, 74);
}

/* Caso usuário não tenha publicações */
.sem-publicacoes {
    text-align: center;
    color: #00000085;
    font-size: 1rem;
}

/* Modal para criar um post */
.container-modal-para-postar, .container-modal-para-editar-perfil {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 13;
}
  
.sub-container-modal, .sub-container-modal-editar-perfil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    text-align: center;
    width: 800px;
    max-height: 550px;
    border-radius: 8px;
}
  
.container-cabecalho-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.315);
    z-index: 14;
}

.container-cabecalho-modal h4 {
    font-size: 1.8rem;
    padding: 1rem;
}
  
.fechar-modal {
    position: absolute;
    font-size: 2rem;
    cursor: pointer;
    top: 0px;
    right: .7rem;
}
  
.conteudo-modal, .conteudo-modal-editar-perfil {
    display: flex;
    width: 100%;
}

.sub-container-modal div {
    width: 100%;
}

.adicionar-imagem-ao-post {
    position: relative;
    display: flex;
    background-color: #E5EAFC;
    align-items: center;
    cursor: pointer;
}

#label-do-input-da-imagem {
    font-size: 1.4rem;
    position: absolute;
    cursor: pointer;
    top: 140px;
    left: 36px;
}

#label-do-input-da-imagem i, #label-do-input-da-imagem p {
    color: #718BED;
}

#input-da-imagem {
    position: absolute;
    opacity: 0;
    font-size: 100px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

/* Conteudo da atualização */
.container-criacao-atualizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.info-usuario-a-postar {
    display: flex;
    width: 100%;
    min-width: 400px;
    align-items: center;
    padding: .5rem 1rem;
    gap: .6rem;
}

.profile-img, .editar-perfil-img {
    width: 48px;
    border-radius: 50%;
}

.info-usuario-a-postar h5 {
    font-size: 1.2rem;
    font-weight: 500;
}
  
#conteudo-da-atualizacao-a-postar {
    width: 100%;
    height: 100px;
    padding: .5rem 1.4rem;
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    resize: none;
    border: none;
    outline: none;
    min-height: 230px;
    overflow: hidden;
}

.extras-do-novo-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.visibilidade {
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.visibilidade p {
    font-size: .8rem;
    opacity: .8;
    width: 45%;
}

.visibilidade p i {
    font-size: .9rem;
}

.nome-do-projeto {
    font-weight: bolder;
    color: var(--azul);
}

.nome-do-projeto:hover {
    text-decoration: underline;
    cursor: pointer;
}

#botao-postar-atualizacao, #botao-salvar-perfil {
    font-family: 'Sora', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    outline: none;
    color: var(--branco);
    background-color: #718BED;
    border-radius: 8px;
    min-height: 3.5rem;
    width: 45%;
    cursor: pointer;
    transition: all .3s;
}

#botao-postar-atualizacao:hover {
    background-color: #4b66c9;
    transform: scale(1.07);
}

#botao-postar-atualizacao:active {
    transform: scale(.93);
}

/* Indicador de carregamento */
.barra-progresso-container {
    width: 100%;
    background-color: var(--branco);
    overflow: hidden;
}

.barra-progresso {
    height: 10px;
    width: 0;
    background-color: var(--azul);
    transition: width 0.3s ease;
}

/* Modal para editar perfil */
.sub-container-modal-editar-perfil {
    width: 400px;
}

.editar-perfil-img {
    margin-top: 1.5rem;
    width: 100px;
    cursor: pointer;
}

.container-cabecalho-modal {
    border: 1px solid rgba(128, 128, 128, 0.308);
}

.inputs-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
}

.input-container input {
    border: 1px solid var(--azul-de-fundo);
    outline: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-family: 'Sora', sans-serif;
    opacity: .3;
    width: 100%;
}

.input-container input:focus {
    opacity: 1;
    border: 1px solid var(--azul);
}

.input-container label {
    text-align: left;
    margin-bottom: 5px;
}

.container-botao {
    margin: 1.5rem 0;
    width: 80%;
}

.obrigatorio {
    color: rgb(255, 42, 42);
}

/* Responsivo telas menores */
@media (max-width: 950px) {
    .barra-de-pesquisa {
        display: none;
    }

    .sub-container-modal {
        width: calc(100% - 20px);
    }

    .adicionar-imagem-ao-post {
        display: none;
    }

    .container-cabecalho-perfil {
        flex-direction: column;
        align-items: left;
        width: auto;
        min-width: auto;
    }

    .container-botao-editar {
        margin-top: 1.5rem;
    }

    .container-info-usuario {
        display: flex;
        align-items: center;
    }

    .divisor{
        display: none;
    }
}

@media (max-width: 580px) {
    header {
        padding: 1rem 0;
        margin-bottom: .5rem;
    }

    div.logo a h1 {
        font-size: 1.7rem;
    }

    .opcao-explorar, .opcao-notificacoes {
        display: none;
    }

    .barra-de-navegacao .opcao-menu i{
        font-size: 1.7rem;
    }
    
    .container-da-atualizacao {
        box-shadow: none;
        border-radius: 0px;
        width: 100%;
    }

    .container-comentar input {
        font-size: 1.1rem;
    }

    .sub-container-modal-editar-perfil {
        width: 100%;
    }

    .fechar-modal {
        top: 8px;
    }
}

@media (max-width: 420px) {
    .logo {
        display: none;
    }

    .info-seguindo, .info-seguidores {
        display: none;
    }
}